<!-- <!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<title>本日のライブ</title>
<link rel="stylesheet" type="text/css" href="top.css"> -->
<!-- </head> -->

<!-- ここからメイン -->

<header>

<h1>EVERYWHEEL<span>2019</span></h1>
<div class="nav">
<a href=#>問い合わせ</a>

</div>
</header>


<!-- 真ん中 -->
<h2>TODAY SCHEDULE</h2>

<body>
<!-- ライブハウス名 -->
  <div class = "livehouses">
 <div class = "livehouse_names">
    <div class = "house1">DROP</div>
    <div class = "house2">BEYOND</div>
    <div class = "house3">VARON</div>
 </div>



<!-- イベント -->

<div class= 'events'>
  <div class= "event1">
      <div class= "event1_title">アメリカ村DROP×新宿club SCIENCE×今池3star Presents Wake Up There Tour2019!!-WINTER-</div>

 <ul div class="drop_bands">
<% @title.each do |value| %>
    <li><%= value %></li>
<% end %>
</ul>
  <img src= "5532434-191205_FLYjpg.jpg">
    <div class= "event1_price">
      <p>OP/ST 18:00/18:30</p>
      <p>AVD ¥2,300 DOOR ¥2,800</p>
    </div>



  </div>


  <div class= "event2">
      <div class= "event2_title">ビヨロック LOW TON ~BRANDCALL&SETTLE ON Welcome to OSAKA~</div>
        <ul>
          <li>HARVEST</li>
          <li>THIS IS ME</li>
          <li>SETTLE ON </li>
          <li>AILEVENT</li>
        </ul>
        <div class = "flyer">
        <img src= "138562-191220jpg.jpg">
       </div>
        <div class= "event2_price">
            <p>OP/ST 17:00/17:30</p>
            <p>AVD ¥2,000 DOOR ¥2,500</p>
          </div>
</div>


  <div class= "event3">
      <div class= "event3_title">クアトロ特大感謝祭ワンマン</div>
      <ul>
          <li>FIRE ARROW</li>
          <li>我儘ラキア</li>
          <li>Pulse Factory</li>
          <li>暴想ソプラノバイエルン</li>
      </ul>
      <img src= "234131-FIREARROW10thANNIVERSARYjpg.jpg">
      <div class= "event3_price">
          <p>OP/ST 17:00/17:30</p>
          <p>AVD ¥2,200 DOOR ¥2,700</p>
      </div>
  </div>






</div>



    
</body>







<footer></footer>

<!-- ここからここまで -->