header {
  height: 80px;
  width: 100%;
  background-color: black;
  margin: 0;
  padding:0;
  border: none;
  background-image: url("haikei.jpg");
}

h1 {
  color: white;
  font-size:50px;
  margin: 0px;
  font-family:  arial;
}
span{
  font-size:60%;
}

h2 {
  color: gray;

  
  margin: 0px;
 
  vertical-align: middle;
}

a  {
  text-decoration:none;
}
.inquiry{
  color:white;
  float: right;
  margin-right: 8px;
}
.inquiry2{
  color:white;
  float: right;
  margin-right: 8px;
}


.contents{
  margin: 0 auto;
}


.drop{
  display: block;
  margin: 0 auto;
  color: black;
}
.beyond{
  color: black;
}
.varon{
  color: black;
}




.livehouses {
background-color:lightgray; 
width: 100%;
height: 0 auto;
}

.livehouse_names {
  height: 100%;
  list-style: none;
  margin-left:0;
  display:flex;
  justify-content: space-around;
}
.house1{
  text-align: center;
  font-size:20px;
  border-color: black;
  border: solid 2px;
  background-color: red;
  margin: 1px;
  width: 33%;

  
}
.house2{
  text-align: center;
  font-size:20px;
  border-color: black;
  border: solid 2px;
  background-color: Gold;
  margin: 1px;
  width: 33%;
}
.house3{
  text-align: center;
  font-size:20px;
  border-color: black;
  border: solid 2px;
  background-color:  BlueViolet;
  margin: 1px;
  width: 33%;
}


.events {
  background-color:lightgray; 
  height: 600px;
}






















li {
  /* height: 33%; */
  widows: 100px;
}




body {
  margin: 0;
  
}

table{
  
  border-color: black;
  width: 100%;
}



.members{
  width: 100%;
}


.member1 {
    border-color: black;
    border: solid 1.5px; 
    height: 500px;
    background-color: LightGray;
    list-style :none;
    vertical-align: top;
    float: left;
    width: 33%;
}
.member2 {
  border-color: black;
  border: solid 1.5px; 
  height: 500px;
  list-style :none;
  vertical-align: top;
  float: left;
  width: 33%;
}
.member3 {
  border-color: black;
  border: solid 1.5px;     
  height: 500px;
  background-color: LightGray;
  list-style :none;
  vertical-align: top;
  float: left;
  width: 33%;
}




.events{
display:flex;
justify-content: space-around;
}


.event1 {
  
    text-align: center;
    font-size:20px;
    border-color: black;
    border: solid 2px;
    background-color:white;
    margin: 1px;
    width: 33%; 
    height: 600px;
    position: relative;
 
  }
  .event2 {
  
    text-align: center;
    font-size:20px;
    border-color: black;
    border: solid 2px;
    background-color:White;
    margin: 1px;
    width: 33%; 
    height: 600px;
    position: relative;
  }

  .event3 {
  
    text-align: center;
    font-size:20px;
    border-color: black;
    border: solid 2px;
    background-color:white;
    margin: 1px;
    width: 33%; 
    height: 600px;
    position: relative;
  }


  .event1_title{
    background-color:WhiteSmoke;
  }
  .event2_title{
    background-color:Whitesmoke;
  }
  .event3_title{
    background-color:WhiteSmoke;
  }

  .event1_price{
    background-color:whitesmoke;
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  .event2_price{
    background-color:Whitesmoke;
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  .event3_price{
    background-color:WhiteSmoke;
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  img {
    width: 200px;

    
  }
  .flyer{
    height: 300px;
        
        overflow-y: scroll;
  }

 
  .drop_bands{
    width: 410px;
    height: 200px;
    background-color: white;
    /* overflow: scroll; */
    line-height: 0.１em;
    overflow-y: scroll;
  }
  .byond_bands{
    width: 410px;
    height: 200px;
    background-color: wtite;
    /* overflow: scroll; */
    line-height: 0.１em;
    overflow-y: scroll;
  }
  .varon_bands{
    width: 410px;
    height: 200px;
    background-color: white;
    /* overflow: scroll; */
    line-height: 0.１em;
    overflow-y: scroll;
  }
  .flyer{
    height: 200px;
    
    width: 200px;
    margin: 0 auto;
  }
  .footer_content{
    max-width: 860px;
    margin:0 auto;
  }
  .footer_copy{
    color:white;
    margin:0 auto;
    max-width: 400px;
    margin-top: 35px;
  }


  .url_update{
      max-width: 760px;
      margin: 0 auto;
      margin-top: 64px;
  }

  
  footer {
    height: 60px;
    width: 100%;
    background-color: black;
    /* position: absolute;
    bottom: 0; 
    margin: 0;
    padding:  0; */
  }
  
  